<header class="bg-gradient-to-b from-cyan-500 to-white text-white py-8 text-center flex flex-row items-center px-4">

    <a  routerLink="/inicio" class="flex-shrink-0 w-28 mr-8">
        <img src="assets/LogoWeatherAPP.png" alt="Logo" class="w-full">
    </a>

    <nav class="flex items-center justify-center flex-wrap gap-4 mt-4">
        <a routerLink="/inicio" routerLinkActive="bg-cyan-800" class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded-lg flex-1">Inicio</a>
        <a routerLink="/informacion-detallada" routerLinkActive="bg-cyan-800" class="bg-cyan-600 hover:bg-cyan-800 px-4 py-2 rounded-lg flex-1 whitespace-nowrap">Información Detallada</a>
    </nav>

</header>
