<div class="flex items-center justify-center mt-20">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-4">Sitio en Mantenimiento</h1>
        <p class="text-lg mb-8" style="text-wrap: balance;">Estamos realizando mejoras en el sitio. Vuelve pronto. Esta página era para practicar routing con Angular</p>
        <div class="animate-bounce">
            <div class="flex items-center justify-center mt-8 mb-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-16 h-16 text-cyan-500">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                </svg>
            </div>
        </div>
        <p class="text-lg mb-4">Para ver el proyecto, puedes seguirlo en mi GitHub:</p>
        <a href="https://github.com/Alarbon/wheatherAPP" class="text-black text-4xl ">
            <i class="bi bi-github"></i>
            &#64;Alarbon
        </a>
    </div>
</div>

